@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap');
*{
    margin: 0;padding: 0;box-sizing: border-box;
    
}
ul,li{list-style: none;}
a:link,a:visited{
    text-decoration: none;
}
body{font-family: 'Nanum Gothic Coding', monospace;}
